<table border="0" cellpadding="0" style="width: 450px; table-layout:fixed">
  <tbody>
    <tr>
      <td align="left" valign="top" width="145" style="border-right: 2px solid #1d2327;">
        <p style="margin-right: 10px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
          <img src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/portraits/falko.jpeg" alt="Falko Burghausen" border="0" width="130" height="130">
        </p>
      </td>
      <td align="left" nowrap="nowrap" width="290" style="padding-left: 15px;">
        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; color: #1d2327; margin-bottom: 10px;">
          <span style="font-weight: bold; color: #1d2327; display: block; font-size: 12px; margin-bottom: 10px;">Falko Burghausen</span>
          <a href="mailto:falko.burghausen@beanywhere.ch" style="color: #1d2327; text-decoration: none; display: block;">falko.burghausen@beanywhere.ch</a>
          <a href="https://beanywhere.ch" style="color: #1d2327; text-decoration: none; display: block;"><b>www.beanywhere.ch</b></a>
        </p>
        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; margin-bottom: 10px;">
          <span style="color: #1d2327; display: block;"><a style="color: #1d2327; text-decoration: none;" href="tel:+41 76 586 67 87">+41 76 586 67 87</a></span>
          <span style="color: #1d2327; display: block;">Chemin de la Pl&acirc;tri&egrave;re 3</span>
          <span style="color: #1d2327; display: block;">CH - 1981 Vex</span>
        </p>
        <p style="font-size: 0px; line-height: 0; font-family: Helvetica, Arial, sans-serif;">
					<a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://www.instagram.com/falko.burghausen/">
						<img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/instagram-brands-beanywhere.png" alt="Instagram">
					</a>
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://ch.linkedin.com/in/falko-burghausen-787349101">
            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/linkedin-in-brands-beanywhere.png" alt="LinkedIn">
          </a>
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://500px.com/p/falko_burghausen?view=photos">
						<img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/500px-brands-beanywhere.png" alt="500px">
					</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
