<table border="0" cellpadding="0" width="450" style="table-layout:fixed">
  <tbody>
    <tr>
      <td align="left" valign="top" width="135" style="border-right: 2px solid #FAC933;">
        <p style="margin-right: 10px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px;">
          <img src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/portraits/marina.jpg" alt="Marina Kraus" border="0" width="130" height="130">
        </p>
      </td>
      <td align="left" nowrap="nowrap" width="290" style="padding-left: 15px;">
        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; color: rgb(33, 33, 33);">
          <h4 style="font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: rgb(51, 51, 51); margin: 0; margin-bottom: 2px;">Marina Kraus</h4>
          <a href="mailto:marina.kraus@steinmanndli.ch" style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #FAC933; text-decoration: none; block: inline;">marina.kraus@steinmanndli.ch</a>
          <a href="https://steinmanndli.ch" style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #FAC933; text-decoration: none; display: block;">www.steinmanndli.ch</a>
        </p>
        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; margin-bottom: 10px;">
          <span style="color: rgb(51, 51, 51); display: block;">+41 (0)76 492 98 25</span>
          <span style="color: rgb(51, 51, 51); display: block;">Jessenenstrasse 66</span>
          <span style="color: rgb(51, 51, 51); display: block;">CH - 8843 Oberiberg</span>
        </p>
        <p style="font-size: 0px; line-height: 0; font-family: Helvetica, Arial, sans-serif;">
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://twitter.com/marina_kdot">
            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/twitter_y.png" alt="Twitter">
          </a>
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://www.linkedin.com/in/marina-kraus/">
            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/linkedin_y.png" alt="LinkedIn">
          </a>
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://www.xing.com/profile/Marina_Kraus7?sc_o=mxb_p">
            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/xing_y.png" alt="Xing">
          </a>
          <a style="text-decoration: none; display: inline; margin-right: 10px;" href="https://www.instagram.com/marina_kdot/">
            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" src="https://gitlab.com/falko-burghausen/email-signatures/raw/master/icons/instagram_y.png" alt="Instagram">
          </a>
        </p>
      </td>
    </tr>
  </tbody>
</table>
